/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    scrollbar-width: ;
}

/* Global variables  */
:root{
    --sideBGColor: #040b14;
    --themeColor:#00A78E;
    --iconsBGColor:#2C2F3F;
    --textBGColor:#525252;
    --textColor: #353535;
    --bgColor:#F7F7F7;
}

/* Global Heading  */
.sub-heading{
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    }
    
    /* Devider  */
    .divider{
        width: 80px;
        height: 4px;
        background-color: var(--themeColor);
        border-radius: 3px;
    }
    
    .sub-para{
        color: var(--textColor);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-top: 15px;
        text-align: justify;
    }

.common-section-style {
    padding: 50px 30px !important;
}

/* ====== Header starts ====== */

header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
 /* profile  */
header .profile{
    text-align: center;
    margin:10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconsBGColor);
}
header .profile  h1{
    color: white;
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height:37px ;
    background-color: var(--iconsBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/* Navbar  */

header nav {
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}

header nav ul li .active i{
    color: var(--themeColor);
}

/* Footer */
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color:lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
}

header .footer p a{
    color: var(--themeColor);
}

/* Mobile Nav Toggle */
#menuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

/* Mobile View */
@media (max-width:1050px) {
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #menuBtn{
        display: block;
    }
}

/* == Header Toggle == */
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active header .footer{
    left: 0;
}

/* ====== Header ends ====== */

/* ===== MAIN SECTION ===== */

main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media (max-width:1050px) {
main{
    margin-left: 0;
}}

/* === Home Section === */

#home{
    height: 100vh;
    width: 100%;
    background-image: url(assets/hero-images/girl-programming.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
    color: white;
}

/* Overlay */

#home::before{
    content:'';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position:absolute;
    left: 0;
    top: 0;
}

#home .home-row{
    z-index: 1;
}
#home .home-row h1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row h1 span{
    color: var(--themeColor);
}

#home .home-row p{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

#home .home-row p span{
    border-bottom:4px solid var(--themeColor) ;
}

/* == Mobile View == */

@media (max-width:1050px) {
    #home .home-row h1{
        font-size: 35px;
        letter-spacing: 0px;
        margin-bottom: 10px;
        line-height: 70px;
    }
    /* #home .home-row h1 br{
        display: none;
    } */
    #home .home-row p{
        font-size: 20px;
        font-weight: 400;
    }

}

/* ===== About Section Start =====  */
span{
    font-weight: 300;
}

#about{
    padding: 70px 30px;
}



#about .about-col{
    margin-top: 25px;
}
#about .about-col.image-col{
    text-align: center;
}

#about .about-col .info-col h2{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

#about .about-col .info-col p{
    color: var(--textBGColor);
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.5px;
}

#about .about-col .info-col .icon-list-col .icon-list ul li{
    list-style-type: none;
}

#about .about-col .info-col  .icon-list-col .icon-list ul li i{
    color: var(--themeColor);
}
#about .about-col .info-col  .icon-list-col .icon-list ul li i span.title{
    color: var(--sideBGColor);
    font-weight: 600;
}
#about .about-col .info-col  .icon-list-col .icon-list ul li i span {
    color: var(--textBGColor);
    font-weight: 500;
    font-size: 15px;
}

/* Mobile view  */
@media (max-width:980px) {
    .sub-para{
        font-size: 14px;
        text-align: justify;
        letter-spacing: 0px;
    }
    #about .about-col .info-col h2{
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0px;
    }
    #about .about-col .info-col p{
        font-size: 14px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col  .icon-list-col .icon-list ul li i span.title{
        font-weight: 500;
    }
    #about .about-col .info-col  .icon-list-col .icon-list ul li i span {
        color: var(--textBGColor);
        font-weight: 400;
        font-size: 13px;
    }
    #about .about-col .info-col  .icon-list-col .icon-list ul{
        margin-top: 0;
    }
    #about .about-col .info-col  .icon-list-col .icon-list {
        margin-top: 0;
    }
}
/* ===== About Section Ends =====  */

/* ------------------------------------------- */
/* ===== Facts Section Starts =====  */

#facts{
    padding: 50px 30px;
    background-color: white;
}
#facts .fact-row .fact-box i{
    color: var(--themeColor);
    font-size: 40px;
}
#facts .fact-row .fact-box span{
    color: var(--sideBGColor);
    margin-left: 5px;
    font-weight: 600;
    font-size: 30px;
}
#facts .fact-row fact-box p{
    color: var(--textColor);
    font-size: 16px;
}

@media (max-width:370px) {
    #facts .fact-row .fact-box i{
        font-size: 30px;
    }
    #facts .fact-row .fact-box span{
        font-weight: 500;
        font-size: 20px;
    }
    #facts .fact-row fact-box p{
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width:850px) {
    #facts .fact-row .fact-box i{
        font-size: 28px;
    }
}
/* ===== Fact Section Ends =====  */
/* --------------------------------------------- */

/* ====== SKills Section Starts ======= */

#skills{
    padding:70px 30px ;
}
#skills .skills-row .skill-box .skill-info h2{
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}
#skills .skills-row .skill-box .skill-outer-line{
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius:15px;
}
#skills .skills-row .skill-box .skill-outer-line .skill-inner-line{
    width: 100%;
    height: 10px;
    background-color: var(--themeColor);
    border-radius: 20px;
}

/* ====== SKills Section Ends ======= */
/* ------------------------------------
 */

/* ======RESUME Section START ======= */
#resume{
    padding: 70px 30px;
    background-color: white;
}
#resume .resume-row{
    gap: 50px;
}
#resume .resume-row .resume-cols{
    flex-basis: 50%;
    text-align: justify;
}
#resume .resume-row .resume-cols h2{
    color: var(--sideBGColor);
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}
#resume .resume-row .resume-cols .my-info{
    padding: 0 20px 0 20px;
    margin: 20px 0;
    border-left: 2px solid var(--themeColor);
    position: relative;
}
#resume .resume-row .resume-cols .my-info::before{
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--themeColor);
    background-color: white;
    border-radius: 50%;
}
#resume .resume-row .resume-cols h3{
    color: var(--sideBGColor);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
#resume .resume-row .resume-cols .my-info p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px 0;
}
#resume .resume-row .resume-cols .my-info ul li{
    margin: 10px 0;
    margin-left: 20px;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}
#resume .resume-row .resume-cols .my-edu{
    padding: 0 20px 0 20px;
    border-left: 2px solid var(--themeColor);
    position: relative;
}
#resume .resume-row .resume-cols .my-edu::before{
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--themeColor);
    background-color: white;
    border-radius: 50%;
}
#resume .resume-row .resume-cols .sp-box{
    padding: 4px 22px;
    background-color: lightblue;
    color: var(--textColor);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display: inline-block;
}
#resume .resume-row .resume-cols .my-edu span +p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}
#resume .resume-row .resume-cols .my-edu span +p +p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
}
#resume .resume-row .resume-cols .pro-exp{
    padding: 3px 20px;
    border-left: 2px solid var(--themeColor);
    position: relative;
}
#resume .resume-row .resume-cols .pro-exp::before{
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid  var(--themeColor);
    background-color: white;
    
}
#resume .resume-row .resume-cols .pro-exp p{
    color: var(--textColor);
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
}
#resume .resume-row .resume-cols .pro-exp ul li{
    margin: 10px0;
    margin-left: 20px;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}

/* mobile view  */
@media (max-width:820px) {
    #resume .resume-row{
        gap: 50px;
        flex-direction: column;
    }
    #resume .resume-row .resume-cols{
        flex-basis: 100%;
        text-align: justify;
    }
}
/* ======RESUME Section END ======= */



/* -------------------------------------- */
/* ======Portfolio Section Starts ======= */
#portfolio .port-row{
    margin-top: 50px;
}
#portfolio .port-row .port-item{
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}
#portfolio .port-row .port-item .port-image img{
    width: 100%;
    border-radius: 10px;
}

#portfolio .port-row .port-item .port-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor);
    padding: 10px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.4s;
    border-radius: 10px;
    visibility: hidden;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#portfolio .port-row .port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}
#portfolio .port-row .port-item .port-info h4{
    color: var(--bgColor);
    font-size: 25px;
    font-weight: 600;
}
#portfolio .port-row .port-item .port-info +p{
    color: var(--bgColor);
    font-size: 10px !important;
    display: none;
}
#portfolio .port-row .port-item .port-info  a{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 35px;
    height: 35px;
    background-color: var(--bgColor);
    border-radius: 50%;
    color: var(--themeColor);
    line-height: 35px;
    transition: 0.4s;
}
/* #portfolio .port-row .port-item .port-info  a:hover{

} */
/* ======Portfolio Section END ======= */
/* ------------------------------ */

/* ======Services Section START ======= */
#services .service-row{
margin-top: 50px;
}
#services .service-row .service-box{
    gap: 20px;
}
#services .service-row .service-box .icon i{
width: 50px;
height: 50px;
border-radius: 50px;
border: 2px solid var(--themeColor);
font-size: 22px;
line-height: 46px;
background-color: var(--themeColor);
color: var(--bgColor);
transition: 0.7s;
text-align: center;
}
#services .service-row .service-box:hover .icon i{
    color: var(--themeColor);
    background-color: var(--bgColor);
}
#services .service-row .service-box:hover{
    cursor: pointer;
}
#services .service-row .service-box .ser-info h4{
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 600;
}
#services .service-row .service-box .ser-info h4 +p{
    color: var(--textColor
    );
    font-size: 14px;
    font-weight: 500;
}
/* ======Services Section END ======= */
/* ---------------------------- */

/* ======Contact Section Start ======= */
.contact-row{
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    background-color:white;
    box-shadow:0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 4px;
    padding: 30px;
}
.contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}
.contact-row .contact-left .icon-box .icon i{
    width:50px ;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;

}
.contact-row .contact-left .icon-box:hover .icon i{
    color: var(--bgColor);
    background-color: var(--themeColor);
}

.contact-row .contact-left .icon-box .info h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--sideBGColor);
}

.contact-row .contact-left .icon-box .info h4 +p{
    font-size: 15px;
    font-weight: 500;
    color: var(--textColor);
}

.contact-row .contact-right{
    flex-basis: 60%;
    min-width: 60%;
    background-color:white;
    box-shadow:0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 4px;
    padding: 30px;
}

.contact-row .contact-right form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-row .contact-right form input,
.contact-row .contact-right form textarea{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: var(--textColor);
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px  solid lightgray;
    border-radius: 2px;
    outline: none;
    resize: none;
    transition: 0.5s;
}
.contact-row .contact-right form input:focus,
.contact-row .contact-right form textarea:focus{
    border: 3px solid var(--themeColor);
}
.contact-row .contact-right form input[type="submit"]{
    background-color: var(--themeColor);
    color: var(--bgColor);
    border: 2px solid var(--themeColor);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

/* Mobile View */
@media (max-width:812px) {
    .common-section-style {
        padding: 50px 25px !important;
    }
    .contact-row{
        gap: 20px;
        flex-direction: column;
    }
}
/* ======Contact Section END ======= */


.port-item {
    margin-right: 2px; /*Adjust this value to increase/decrease gap*/
    width: 100%;

}
/* Remove margin from the last item in each row */
.port-row .col:nth-child(3n) {
    margin-right: 0; /*For larger screens with 3 columns*/
}

.port-row .col:nth-child(2n) {
     margin-right: 0; /*For medium screens with 2 columns */
}

/* Ensure there's no gap on small screens (1 column layout) */
@media (max-width: 768px) {
    .port-item {
        margin-right: 0;
    }
} 